<article class="assignment">
	<!-- Covers conditionals, loops, input, rand() -->
	<h1>High-Low Guessing Game</h1>

	<p>In the High-Low Guessing Game, the player is attempting to guess an
	unknown number from 1 to 100.  After each guess, the play is told whether
	their guess is too high (greater than the unknown number), or too low (less
	than the unknown number).  If they guess the number, they win.</p>

	<p>Write a program that plays this game with the user.  It should accept
	guesses, rejecting any outside the range of 1 to 100.  It should track
	how many valid guesses were made, and print out that number at the end.</p>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">guessing</kbd>
I'm thinking of a number from 1 to 100
Try to guess my number: <kbd>50</kbd>
50 is too low - please guess again: <kbd>60</kbd>
60 is too low - please guess again: <kbd>90</kbd>
90 is too high - please guess again: <kbd>1776</kbd>
1776 is not a valid guess - please guess again: <kbd>77</kbd>
77 is correct!  You guessed my number in 4 guesses.
</samp></pre>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">guessing</kbd>
I'm thinking of a number from 1 to 100
Try to guess my number: <kbd>12</kbd>
12 is correct!  You guessed my number in 1 guess.
</samp></pre>

	<p>The program does not need to exactly follow this sample output.</p>

	<p><strong>Having trouble</strong>?  It may be easier to implement if the
	computer-picked number is constant, rather than randomly generated.</p>

	<p><strong>Challenge</strong>: The program should reject any guess
	that is not an integer.</p>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">guessing</kbd>
I'm thinking of a number from 1 to 100
Try to guess my number: <kbd>50</kbd>
50 is too low - please guess again: <kbd>75</kbd>
75 is too low - please guess again: <kbd>87.5</kbd>
87.5 is not a valid guess - please guess again: <kbd>Albequerque</kbd>
Albequerque is not a valid guess - please guess again: <kbd>88</kbd>
88 is correct!  You guessed my number in 4 guesses.
</samp></pre>


	<p><strong>Challenge</strong>: (<cite>Ulam's Game</cite>) The program is
	allowed to lie once on any guess, as long as it does not lie about the secret
	number.  The program should state the lie when the game finishes (If there
	was no lie, it should not be mentioned).</p>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">guessing</kbd>
I'm thinking of a number from 1 to 100
Try to guess my number: <kbd>50</kbd>
50 is too high - please guess again: <kbd>25</kbd>
25 is too low - please guess again: <kbd>40</kbd>
40 is too high - please guess again: <kbd>30</kbd>
30 is too high - please guess again: <kbd>20</kbd>
20 is too high - please guess again: <kbd>10</kbd>
10 is too high - please guess again: <kbd>13</kbd>
13 is correct!  You guessed my number in 7 guesses.  I lied about 25 being too low.
</samp></pre>

		<pre>
<samp><span class="prompt">&gt;</span> <kbd class="invoke">guessing</kbd>
I'm thinking of a number from 1 to 100
Try to guess my number: <kbd>50</kbd>
50 is correct!  You guessed my number in 1 guess.
</samp></pre>

</article>
